Package: com.sinisterindustries.ccswipe
Name: CCSwipe
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Swipe gestures involving control center
Maintainer: Sinister Industries
Author: Sinister Industries
Section: Tweaks
Version: 1.1.3-36
Installed-Size: 1280
