Package: com.sinisterindustries.ccswipe
Name: CCSwipe
Depends: mobilesubstrate
Version: 1.1.4
Architecture: iphoneos-arm
Description: Swipe gestures involving control center
Maintainer: bolencki13
Author: Sinister Industries
Section: Tweaks
