<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
			<key>footerText</key>
			<string>Tweak wouldn't be possible without these people</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SIDevCell</string>
			<key>height</key>
			<integer>90</integer>
			<key>twitterName</key>
			<string>sinisterdevteam</string>
			<key>name</key>
			<string>Sinister Industries</string>
			<key>jobTitle</key>
			<string>Team</string>
			<key>devImage</key>
			<string>SinisterPrefs.png</string>
		</dict>
                <dict>
                        <key>cellClass</key>
                        <string>SIDevCell</string>
                        <key>height</key>
                        <integer>90</integer>
                        <key>twitterName</key>
                        <string>drkh5h</string>
                        <key>name</key>
                        <string>Dark Hash</string>
                        <key>jobTitle</key>
                        <string>Founder, Developer</string>
                        <key>devImage</key>
                        <string>drkhsh.png</string>
                </dict>
                <dict>
                        <key>cellClass</key>
                        <string>SIDevCell</string>
                        <key>height</key>
                        <integer>90</integer>
                        <key>twitterName</key>
                        <string>MrSh4rPEYE</string>
                        <key>name</key>
                        <string>Sh4rP EYE</string>
                        <key>jobTitle</key>
                        <string>Co-Founder, Designer, Developer</string>
                        <key>devImage</key>
                        <string>sh4rpyey.png</string>
                </dict>
                <dict>
                        <key>cellClass</key>
                        <string>SIDevCell</string>
                        <key>height</key>
                        <integer>90</integer>
                        <key>twitterName</key>
                        <string>stijn_d3sign</string>
                        <key>name</key>
                        <string>Stijn</string>
                        <key>jobTitle</key>
                        <string>Co-Founder, Designer</string>
                        <key>devImage</key>
                        <string>stijn.png</string>
                </dict>
                <dict>
                        <key>cellClass</key>
                        <string>SIDevCell</string>
                        <key>height</key>
                        <integer>90</integer>
                        <key>twitterName</key>
                        <string>bolencki13</string>
                        <key>name</key>
                        <string>Brian</string>
                        <key>jobTitle</key>
                        <string>Developer</string>
                        <key>devImage</key>
                        <string>bolencki13.png</string>
                </dict>
                <dict>
                        <key>cellClass</key>
                        <string>SIDevCell</string>
                        <key>height</key>
                        <integer>90</integer>
                        <key>twitterName</key>
                        <string>PoomSmart</string>
                        <key>name</key>
                        <string>PoomSmart</string>
                        <key>jobTitle</key>
                        <string>Developer</string>
                        <key>devImage</key>
                        <string>poomsmart.png</string>
                </dict>
                <dict>
                        <key>cellClass</key>
                        <string>SIDevCell</string>
                        <key>height</key>
                        <integer>90</integer>
                        <key>twitterName</key>
                        <string>orangebananaspy</string>
                        <key>name</key>
                        <string>Orangebananappy</string>
                        <key>jobTitle</key>
                        <string>Developer</string>
                        <key>devImage</key>
                        <string>orangebananaspy.png</string>
                </dict>
                <dict>
                        <key>cellClass</key>
                        <string>SIDevCell</string>
                        <key>height</key>
                        <integer>90</integer>
                        <key>twitterName</key>
                        <string>Rabih96</string>
                        <key>name</key>
                        <string>Rabih</string>
                        <key>jobTitle</key>
                        <string>Developer</string>
                        <key>devImage</key>
                        <string>rabih96.png</string>
                </dict>
	</array>
	<key>title</key>
	<string>Sinister Dev Team</string>
</dict>
</plist>
